<!DOCTYPE html>
<html>  
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Factory Monitoring</title>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
        <link rel="stylesheet" type="text/css" href="static/css/navbar.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  
        
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@4/dist/echarts.min.js"></script>
        <nav class="navbar navbar-default" style="background-color: darkgray; margin: 0;">
            <div class="container">
                <div class="navbar-header">            
                  <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                      <ul class="nav navbar-nav">
                          <li><a href="/">Home</a></li>
                          <li><a href="/results">History</a></li>
                      </ul>
                  </div>
            </div>
        </nav>
    </head>
    {% block main %}
    {% endblock %}
</html>